aiohttp
aiohttp-jinja2
appdirs
async-timeout
attrs
Babel
beautifulsoup4
cairocffi
CairoSVG
certifi
cffi
chardet
click
coffeehouse
coloredlogs
cssselect2
Cython
defusedxml
distlib
filelock
gitdb
GitPython
googletrans
gTTS
h11
h2
hachoir
heroku3
hpack
hstspreload
httpcore
httpx
humanfriendly
hyperframe
idna
Jinja2
lxml
lyricsgenius
MarkupSafe
mautrix
meval
multidict
numpy
Pillow
pyaes
pyasn1
pycparser
pydub
Pygments
python-dateutil
pythondialog
pytz
requests
rfc3986
rsa
search-engine-parser
ShazamAPI
six
smmap
sniffio
soupsieve
speedtest-cli
Telethon-Mod
tinycss2
tk
typing-extensions
urllib3
virtualenv
Wand
webencodings
yarl
youtube-dl
