aiohttp==3.7.4.post0
aiohttp-jinja2==1.4.2
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
beautifulsoup4==4.9.3
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
click==8.0.1
coffeehouse==2.2.6
coloredlogs==15.0.1
cssselect2==0.4.1
Cython==0.29.23
defusedxml==0.7.1
distlib==0.3.2
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.18
googletrans==4.0.0rc1
gTTS==2.2.3
h11==0.12.0
h2==4.0.0
hachoir==3.1.2
heroku3==4.2.3
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
humanfriendly==9.1
hyperframe==5.2.0
idna==3.2
Jinja2==3.0.1
lxml==4.6.3
lyricsgenius==3.0.1
MarkupSafe==2.0.1
mautrix==0.9.8
meval==2.5
multidict==5.1.0
numpy==1.21.0
Pillow==8.2.0
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pydub==0.25.1
Pygments==2.9.0
python-dateutil==2.8.1
pythondialog==3.5.2
pytz==2021.1
requests==2.25.1
rfc3986==1.5.0
rsa==4.7.2
search-engine-parser==0.6.2
ShazamAPI==0.0.2
six==1.16.0
smmap==4.0.0
sniffio==1.2.0
soupsieve==2.2.1
speedtest-cli==2.1.3
Telethon-Mod==1.21.1
tinycss2==1.1.0
tk==0.1.0
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.4.7
Wand==0.6.6
webencodings==0.5.1
yarl==1.6.3
youtube-dl==2021.6.6
